/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* body rules */
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 16px; }

header {
  background-color: #e4c517;
  padding: 1rem 2%; }
  header h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700; }
  header h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal; }

nav {
  background-color: #111; }
  nav ul {
    margin: 0;
    padding: 0; }
  nav li {
    list-style-type: none; }
  nav li.active {
    background-color: #333; }
  nav a {
    display: block;
    padding: .8rem 0;
    /*44px min*/
    color: #eee;
    text-align: center;
    text-decoration: none; }
  nav a:hover {
    background-color: #444; }

main {
  display: block;
  padding: 1rem 2%; }
  main h1 {
    color: #e4c517;
    font-weight: 700; }
  main figure img {
    width: 100%; }
  main figure {
    margin: 0;
    width: 100%; }
  main figcaption {
    text-align: center;
    font-size: .8rem; }

footer {
  background-color: #e4c517;
  text-align: center;
  padding: 1rem 2%; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 560px) and (min-width: 560px) {
  nav li {
    width: 25%;
    float: left; }

  main figure {
    float: right;
    width: 48%;
    margin-left: 2%;
    padding-bottom: .5rem; }

  div.news {
    clear: both;
    column-count: 2;
    column-rule: 1px solid #ddd; } }
@media only screen and (min-width: 560px) {
  /* end of media query */ }
@media only screen and (min-width: 1028px) and (min-width: 1028px) {
  header, nav, main, footer {
    max-width: 1200px;
    margin: auto; }

  nav ul {
    padding-left: 2%; }

  nav li {
    width: auto; }

  nav a {
    padding: .5rem 1rem; }

  main figure {
    width: 31%; }

  div.news {
    column-count: 3; } }
@media only screen and (min-width: 1028px) {
  /* end of media query */ }
