body {
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    font-family: "Comic Sans MS";
    color: blue;
}

.dropdownmenubutton {
    visibility: hidden;
}

.dropdownmenu {
    display: inline;
}

nav {
    font-family: 'Open Sans', sans-serif;
    float: left;
    display: inline-flex;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    float: left;
}

li {
    float: left;
}

li a {
    padding: 16px;
    display: block;
    color: gray;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

h1 {
    font-size:
        /* x.xrem  (rem is a unit of measure) */
    ;
    color: orange;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 18;
    text-align: center;
}

header,
footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: px 5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: green;
    color: orange;
}